---
import '../styles/sidebar.css';
---
<!-- Desktop-only sidebar -->
<div class="bg-light p-3 min-vh-100 border-end">
  <h5>Sidebar</h5>
  <ul class="nav flex-column">
    <li class="nav-item"><a class="nav-link" href="/">Dashboard</a></li>
    <li class="nav-item">
      <a
        class="nav-link"
        href="https://www.linkedin.com/in/venkateswara-rao-kumpatla-345769245/"
        rel="noopener noreferrer"
        target="_blank"
      >
        About (LinkedIn)
      </a>
    </li>
    <li class="nav-item"><a class="nav-link" href="/projects">Projects</a></li>
  </ul>
</div>
